@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------------------
=global
--------------------- */

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
	background: #eee;
	font-family: Verdana, sans-serif;
	margin: 0;
}

h1, h2, h3, h4 ,h5, h6 {
	color: #0074D9;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	width: 100%;
}

button {
	width: 100%;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	background: #B10DC9;
	color: #fff;
	border: none;
	box-shadow: 0px 2px 0px 2px #79078A;
}

button:hover {
	background-color: #CC3EE0;
}

label {
	color: #00203C;
}

input {
	height: 35px;
	width: 100%;
	border: 1px solid #ddd;
	margin: 10px 0 15px 0;
	font-size: 16px;
}

.small-text {
	font-size: 15px;
	color: #999;
}

/* ---------------------
=signed in as bar
--------------------- */
.signed-in-as {
	font-weight: normal;
	font-size: 14px;
	float: left;
	text-align: center;
	margin: 5px auto;
	width: 100%;
	color: #92B5CC;
}

.signed-in-as .log_out {
	display: inline;
	text-decoration: underline;
	background-color: transparent;
	color: #92B5CC;
	padding-left: 0;
}

.signed-in-as a.log_out:hover {
	color: #fff;
	background-color: transparent;
	text-decoration: underline;
}

@media all and (min-width: 600px) {
	.signed-in-as {
		float: left;
		width: initial;
	}
	.signed-in-as br {
		display: none;
	}	
}

@media all and (min-width: 900px) {
	.signed-in-as {
		float: left;
		padding: 9px 0 9px 10px;
		width: inherit;
	}
}


/* ---------------------
=header and top bar
--------------------- */
.top-bar {
	background-color: #001F3F;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.top-bar ul {
	overflow: hidden;
	margin: 0;
	padding-left: 0;
	width: 100%;
	max-width: 1160px;
	font-size: 14px;
	float: right;
}

.top-bar li {
	list-style: none;
	float: left;
	width: 100%;
	border-left: 1px solid #364A5F;
	border-bottom: 1px solid #364A5F;
}

.top-bar a {
	color: #fff;
	padding: 15px;
	background-color: #113458;
	text-decoration: none;
	display: block;
}

.top-bar a:hover {
	color: #B3CBE4;
	background-color: #2C5A8A;
	text-decoration: none;
}

.top-bar .fontawesome-shopping-cart {
	color: #8BB9D3;
}

.top-bar .cart-number {
	color: #8BB9D3;
	background-color: #001F3F;
	border-radius: 500px;
	padding: 0 0 0 4px;
	margin-right: 3px;
	text-align: center;
}

@media all and (min-width: 600px) {
	.top-bar li {
		width: initial;
		padding-left: 0;
		padding-right: 0;
	}
	.top-bar li a {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media all and (min-width: 900px) {
	.top-bar ul {
		width: initial;
	}
	.top-bar li {
		width: initial;
	}
	.top-bar li a {
		padding-left: 10px;
		padding-right: 10px;		
	}
}

@media all and (min-width: 1000px) {
	.top-bar li a {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.header {
	background: #fff;
	width: 100%;
	padding: 30px;
	margin-bottom: 15px;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 7px;
}

.site-title {
	text-align: center;
}

.site-title a {
	text-transform: uppercase;
	font-size: 33px;
	margin-top: 0;
	margin-bottom: 5px;
	text-decoration: none;
	color: #0074D9;
}

@media all and (min-width: 500px) {
	.site-title a {
		font-size: 50px
	}
}

.tagline {
	text-align: center;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
}

@media all and (min-width: 500px) {
	.tagline {
		font-size: 22px;
	}
}

/* ---------------------
=message area
--------------------- */
.message-area {
	text-align: center;
	font-size: 19px;
	color: #666;
}

.fontawesome-ok {
	color: #2ECC40;
}

.fontawesome-thumbs-up {
	color: #B10DC9;
}


/* ---------------------
=product area
--------------------- */
.product-container {
	width: 100%;
	padding: 3%;
	margin-bottom: 3%;
	background: #fff;
	border: 1px solid #ddd;
}

.product-container .product-title {
	font-size: 26px;
	text-align: center;
	margin: 15px 0;
}

.product-container .price {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	color: #FF851B;
}

.product-container button {
	margin-top: 15px;
}

@media all and (min-width: 450px) {
	.product-container {
		width: 47%;
		float: left;
		margin: 1.5%;
	}
}

@media all and (min-width: 900px) {
	.product-container {
		width: 30%;
	}
}

@media all and (min-width: 1200px) {
	.product-container {
		width: 22%;
		padding: 3%;
	}
}


/* ---------------------
=sign up area
--------------------- */
.sign-up-in-form-container {
	background-color: #fff;
	width: 100%;
	max-width: 320px;
	margin: 0 auto 15px auto;
	padding: 30px;
	border: 1px solid #ddd;
}

.sign-up-in-form-container h2 {
	margin-top: 0px;
	text-align: center;
}

.dont-have-account {
	font-size: 14px;
	text-align: center;
	color: #777;
}


/* ---------------------
=sign up thanks
--------------------- */
.sign-up-thanks {
	text-align: center;
}

/* ---------------------
=log out goodbye
--------------------- */
.log-out-goodbye {
	text-align: center;
}

/* ---------------------
=errors
--------------------- */
.error-container {
	text-align: center;
}
.error-container p {
	color: #FF4136;
}

.error {
	border: 1px solid #FF4136;
}

/* ---------------------
=view cart check out area
--------------------- */
@media all and (min-width: 700px) {
	.view-cart-check-out-wrap {
		width: 700px;
		margin: 0 auto;
	}
}

/* --- =view cart area --- */
.view-cart-container {
	margin: 0 auto 15px auto;
	width: 100%;
	max-width: 320px;
	background-color: #fff;
	border: 1px solid #ddd;
}

@media all and (min-width: 700px) {
	.view-cart-container {
		margin-left: 0;
		margin-right: 30px;
		float: left;
	}
}

.view-cart-container h2 {
	text-align: center;
}

.view-cart-container table {
	width: 100%;
	text-align: left;
}

.view-cart-container th {
	font-weight: normal;
	color: #aaa;
}

.view-cart-container th.x-col, .view-cart-container td.x-col {
	padding-right: 0;
}

.x-col a {
	text-decoration: none;
	color: #777;
	cursor: pointer;
}

.x-col a:hover {
	color: #aaa;
}

.view-cart-container th.qty-col, .view-cart-container td.qty-col {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.qty-col input {
	width: 33px;
	padding-left: 11px;
}

.qty-col a {
	display: block;
	text-decoration: none;
	color: #777;
}

.qty-col a:hover {
	color: #aaa;
}

.qty-col a.number {
	color: #000;
}

.view-cart-container th, .view-cart-container td {
	padding: 15px 15px;
}

.view-cart-container tr:nth-child(odd) {
	background-color: #F7F7F8;
}

.view-cart-container .total-label {
	color: #aaa;
}

.view-cart-container .total-value {
	font-weight: bold;
	color: #FF851B;
}

/* --- =check out area --- */
.check-out-container {
	margin: 0 auto 15px auto;
	padding: 0 30px 15px 30px;
	width: 100%;
	max-width: 320px;
	background-color: #fff;
	border: 1px solid #ddd;
}

@media all and (min-width: 700px) {
	.check-out-container {
		float: left;
	}
}

.check-out-container h4 {
	text-align: center;
}

.check-out-container button {
	padding: 15px 30px 30px 30px;
	display: block;
}


